
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">

    <!-- main menu header-->
    <div class="main-menu-header">
        <input type="hidden" />
    </div>
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">

        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

            <li class=" nav-item">
                <a href="~/Dashboard">
                    <i class="icon-home3"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">لوحه التحكم</span>
                </a>
            </li>

            <li class=" navigation-header">
                <span data-i18n="nav.category.support">العقارات</span>
                <i data-toggle="tooltip" data-placement="left" data-original-title="العقارات"
                   class="icon-ellipsis icon-ellipsis"></i>
            </li>
            <li class=" nav-item">
               
                <a href="~/PropertyOffers/Create">
                    <i class="icon-file-add"></i>
                    <span data-i18n="nav.menu_levels.main" class="menu-title">اضافة عقار</span>

                </a>
</li>
            <li class=" nav-item">
                <a href="~/PropertyOffers">
                    <i class="icon-android-funnel"></i>
                    <span data-i18n="nav.menu_levels.main" class="menu-title">عرض العقار</span>
                    
                </a>


                <ul class="menu-content">
                    <li>
                        <a href="~/PropertyOffers/Index" data-i18n="nav.menu_levels.second_level" class="menu-item">الكل</a>
                    </li>

                  
                </ul>


            </li>

            <li class=" navigation-header">
                <span data-i18n="nav.category.support">مشاريع قيد العمل</span>
                <i data-toggle="tooltip" data-placement="left" data-original-title="مشاريع قيد العمل"
                   class="icon-ellipsis icon-ellipsis"></i>
            </li>
            <li class=" nav-item">
                <a href="~/OnlineProjects/Create">
                    <i class="icon-file-add"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">أَضافه مشروع</span>
                </a>

            </li>
            <li class=" nav-item">
                <a href="~/OnlineProjects/">
                    <i class="icon-android-funnel"></i>
                    <span data-i18n="nav.menu_levels.main" class="menu-title">عرض المشاريع</span>
                </a>
            </li>


            <!--
            this for cars

                done by F8 -->

            <li class=" navigation-header">
                <span data-i18n="nav.category.support">سيارات</span>
                <i data-toggle="tooltip" data-placement="left" data-original-title="سيارات" class="icon-ellipsis icon-ellipsis"></i>
            </li>
            <li class=" nav-item">
                <a href="~/CarOffers/Create">
                    <i class="icon-file-add"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">أَضافه سياره</span>
                </a>

            </li>

            <li class=" nav-item">
                <a href="~/CarOffers/">
                    <i class="icon-car"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">عرض السيارات</span>
                </a>
            </li>

            <!--
               the user share in website
              done by F8
               -->
            <br /><br />
            <li class=" nav-item">
                <a href="~/ContactInfoMessage">
                    <i class="icon-android-funnel"></i>
                    <span data-i18n="nav.menu_levels.main" class="menu-title">اضافة خيارات</span>
                   
                </a>
                <ul class="menu-content">
                    <li>
                        <a href="~/PropertyTypes/" data-i18n="nav.menu_levels.second_level" class="menu-item">اضافة نوع عقار</a>
                        <a href="~/PropertyStates/" data-i18n="nav.menu_levels.second_level" class="menu-item">اضافة حالة عقار</a>
                        <a href="~/CurrencyTypes/" data-i18n="nav.menu_levels.second_level" class="menu-item">اضافة  عمله</a>
                        <a href="~/DistanceUnits/" data-i18n="nav.menu_levels.second_level" class="menu-item">اضافة وحدة مساحه</a>

                    
                    </li>

                </ul>
            </li>


            <li class=" navigation-header">
                <span data-i18n="nav.category.support">الخدمات</span>
                <i data-toggle="tooltip" data-placement="left" data-original-title="مشاريع قيد العمل"
                   class="icon-ellipsis icon-ellipsis"></i>
            </li>
            <li class=" nav-item">
                <a href="~/Services/Create">
                    <i class="icon-file-add"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">أَضافه خدمه</span>
                </a>

            </li>
            <li class=" nav-item">
                <a href="~/Services/">
                    <i class="icon-android-funnel"></i>
                    <span data-i18n="nav.menu_levels.main" class="menu-title">عرض الخدمات</span>
                </a>
            </li>

            <li class=" navigation-header">
                <span data-i18n="nav.category.support"></span>
                <i data-toggle="tooltip" data-placement="left" data-original-title="" class="icon-ellipsis icon-ellipsis"></i>
            </li>

            <li class=" nav-item">
                <a href="~/SubscriptionEmail">
                    <i class="icon-newspaper"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">قائمه المشاركين في الاخيار</span>
                </a>
            </li>

            <li class=" navigation-header">
                <span data-i18n="nav.category.support"></span>
                <i data-toggle="tooltip" data-placement="left" data-original-title=""
                   class="icon-ellipsis icon-ellipsis"></i>
            </li>



            <li class=" nav-item">
                <a href="~/ContactInfoMessage">
                    <i class="icon-android-funnel"></i>
                    <span data-i18n="nav.menu_levels.main" class="menu-title">الرسائل</span>
                   
                </a>
                <ul class="menu-content">
                    <li>
                        <a href="~/ContactInfoMessage/Index" data-i18n="nav.menu_levels.second_level" class="menu-item">الوارد</a>
                    </li>
                   
                </ul>
            </li>


            <!--
             setting the web site
             done by F8
            -->

            <li class=" navigation-header">
                <span data-i18n="nav.category.support">اعدادات الموقع</span><i data-toggle="tooltip" data-placement="right" data-original-title="Support" class="icon-ellipsis icon-ellipsis"></i>
            </li>

            <li class=" nav-item">
                <a href="#">
                    <i class="icon-android-funnel"></i>
                    <span data-i18n="nav.menu_levels.main" class="menu-title">المسخدم</span>
                </a>
                <ul class="menu-content">
                    <li> <a href="~/Account/Register" data-i18n="nav.menu_levels.second_level" class="menu-item">اضافه</a>
                    </li>
                    <li>
                        <a href="~/Account/ShowUser" data-i18n="nav.menu_levels.second_level" class="menu-item">عرض</a>
                    </li>
                    <li>
                        <a href="~/Manage/ChangePassword" data-i18n="nav.menu_levels.second_level" class="menu-item">تغيير كلمة السر</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /main menu content-->
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>

